In [4]:
import pandas as pd

data = pd.read_csv("../data/resto.csv")
data.head(10)

data.shape

(4622, 6)

In [5]:
data.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [19]:
df1 = pd.DataFrame(data)
df2 = df1.groupby("item_name").sum()
df2 = df2.sort_values(by="quantity", ascending=False)

In [20]:
df2.quantity.sum()

4972

In [21]:
import numpy as np
df1["item_price2"] = df1["item_price"].str.replace('$', '').astype("float")
df1["total"] = df1["item_price2"]*df1["quantity"]
total = np.round(sum(df1["total"]),2)
print(total)

39237.02

In [16]:
nb_commande = np.count_nonzero(df1.order_id.unique())
avg = total / nb_commande
avg

21.39423118865867